In [1]:
import pandas as pd
import numpy as np

In [15]:
pdDataScraping = pd.read_csv("saidaDataScraping.csv",sep=';',header=0,na_values="Não avaliadoNão disponível",names=["Nome do Hotel", "Localizacao","Quartos", "Servico", "Limpeza", "Custo-Benefício","Conforto","Facilidades","Prédio","Café da Manhã","Comida"])

In [16]:
##Dropa as linhas que tiverem alguma coluna com NaN
pdNoNan = pdDataScraping.dropna(axis=0,how='any')
pdNoNan.head()

,Nome do Hotel,Localizacao,Quartos,Servico,Limpeza,Custo-Benefício,Conforto,Facilidades,Prédio,Café da Manhã,Comida
0,Radisson Recife,87.0,92,83,78,67,65,88,79,70,90
1,Golden Tulip,80.0,90,56,78,90,55,89,90,78,67
2,Marhotel,87.0,92,83,78,67,65,88,79,70,90

In [27]:
pdNoNan.iloc[:,1] = pdNoNan.Localizacao.astype('int64')
pdNoNan.dtypes

/Applications/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Nome do Hotel      object
Localizacao         int64
Quartos             int64
Servico             int64
Limpeza             int64
Custo-Benefício     int64
Conforto            int64
Facilidades         int64
Prédio              int64
Café da Manhã       int64
Comida              int64
dtype: object